@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}

button {
    padding: 0 5px;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

html {
    min-width: 325px;
    overflow-x: hidden;
}

.main_wrapper {
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.27);
    background-image: url('../images/admin_background.webp');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    box-sizing: border-box;

    .content_wrapper {
        width: 70%;
        min-width: 325px;
        background-color: rgba(255, 255, 255, 0.677);
        padding: 20px 20px;

        h1 {
            margin-bottom: 10px;
        }
        
        .filter_wrapper {
            padding: 20px 20px;
            position: sticky;
            top: 0;
            z-index: 100;
            background-color: white;
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;

            button {
                background-color: greenyellow;
                padding: 3px 5px;
                border: 2px solid green;
                padding: 5px 10px;
            }
        }

        .items_wrapper {
            display: grid;
            grid-template-columns: repeat(auto-fill, 300px);
            grid-gap: 10px;
            margin: 0 0 20px 0;


            .item_wrapper {
                border: 1px solid black;
                padding: 10px;
                width: 100%;
                min-width: 300px;
                box-sizing: border-box;
                position: relative;

                .image_select {
                    display: flex;
                    box-sizing: border-box;
                    margin-bottom: 5px;

                    .image_button_wrapper {
                        display: flex;
                        flex-direction: column;
                        justify-content: end;
                        margin: 0 3px;
                        height: 142px;
                        box-sizing: border-box;

                        label {
                            padding: 10px 5px;
                            border: 1px solid black;
                            border-radius: 3px;
                            background-color: rgb(237, 237, 237);
                        }

                        .image_input {
                            display: none;
                        }
                    }

                    img {
                        width: 142px;
                        height: 142px;
                    }
                }

                .input_wrapper {
                    display: flex;
                    justify-content: space-between;
                    margin: 5px 0;
                }


                .control_buttons {
                    position: absolute;
                    top: 3px;
                    right: 3px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;

                    .delete_button {
                        background-color: red;
                        color: white;
                    }
    
                    .save_button {
                        background-color: green;
                        color: white;
                    }
                }
            }
        }
    }
}