@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  box-sizing: border-box;
}

.hidden {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  background-color: #07090E;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.first_screen_wrapper {
  width: 100vw;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}
.first_screen_wrapper .hero_image_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}
.first_screen_wrapper .hero_image_wrapper .hero_image {
  width: 90%;
  min-width: 335px;
  max-width: 920px;
  max-height: 750px;
  transform: translateY(10%);
}
.first_screen_wrapper .hero_image_wrapper .scroll_button {
  width: 28px;
  height: 56px;
  z-index: 1000;
  transform: translateY(-100%);
}
.first_screen_wrapper .oboz_logo {
  position: absolute;
  top: 10px;
  left: 50%;
  width: 155px;
  height: 38px;
  transform: translateX(-50%);
}

.content_wrapper {
  width: 958px;
  min-width: 335px;
  margin: auto;
  margin-bottom: 60px;
  padding-top: 10px;
}
.content_wrapper .filters_wrapper {
  display: grid;
  grid-template-columns: 3fr 2fr 1.5fr 1fr 1fr;
  justify-content: center;
  grid-gap: 10px;
  margin-bottom: 50px;
}
.content_wrapper .filters_wrapper .filter_wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
.content_wrapper .filters_wrapper .filter_wrapper label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.23px;
  color: #9A9A9A;
  margin-bottom: 6px;
}
.content_wrapper .filters_wrapper .filter_wrapper input,
.content_wrapper .filters_wrapper .filter_wrapper select {
  background: rgba(255, 255, 255, 0.1019607843);
  outline: none;
  border: none;
  padding: 8px 12px;
  color: #EBEBEB;
  font-weight: 400;
  font-size: 13px;
  box-sizing: border-box;
  height: 36px;
}
.content_wrapper .filters_wrapper .filter_wrapper select {
  appearance: none;
}
.content_wrapper .filters_wrapper .filter_wrapper select option {
  background-color: #07090E;
}
.content_wrapper .filters_wrapper .filter_wrapper .select_down_arrow {
  width: 18px;
  position: absolute;
  right: 12px;
  bottom: 10px;
  pointer-events: none;
}
.content_wrapper .filters_wrapper .filter_wrapper .hero_name_filter {
  width: 100%;
}
.content_wrapper .filters_wrapper .filter_wrapper .icon_image_wrapper {
  width: 40px;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 36px;
  background-color: #A76831;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.content_wrapper .filters_wrapper .datepicker .icon_image_wrapper {
  pointer-events: none;
}
.content_wrapper .hero_cards {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, 160px);
}
.content_wrapper .hero_cards .hero_card {
  padding: 10px;
  color: #EBEBEB;
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: #07090E;
  transition: background-color 0.3s;
}
.content_wrapper .hero_cards .hero_card .hero_image_wrapper {
  overflow-y: hidden;
  width: 142px;
  height: 142px;
  position: relative;
}
.content_wrapper .hero_cards .hero_card .hero_image_wrapper img {
  width: 142px;
  height: 142px;
}
.content_wrapper .hero_cards .hero_card .hero_image_wrapper .details {
  display: flex;
  background-color: #A76831;
  width: 142px;
  height: 36px;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: bottom 0.3s;
  bottom: -36px;
}
.content_wrapper .hero_cards .hero_card .hero_image_wrapper .details .details_text {
  font-weight: 400;
  color: white;
  margin-bottom: 0;
}
.content_wrapper .hero_cards .hero_card .hero_image_wrapper .details .details_arrow {
  transform: rotate(-90deg);
  width: 16px;
  height: 16px;
  margin-bottom: 0;
}
.content_wrapper .hero_cards .hero_card:hover {
  background-color: rgba(255, 255, 255, 0.0509803922);
}
.content_wrapper .hero_cards .hero_card:hover .details {
  bottom: 0px;
}
.content_wrapper .hero_cards .hero_card h2 {
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  line-height: 15.23px;
  text-transform: uppercase;
  margin-bottom: 8px;
  margin-top: 15px;
}
.content_wrapper .hero_cards .hero_card p {
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  line-height: 15.23px;
  margin-bottom: 8px;
  color: #9A9A9A;
}

.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1019607843);
  width: 100%;
  height: 80px;
}
.footer .footer_wrapper {
  width: 958px;
  height: 80px;
  min-width: 335px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer_wrapper img {
  width: 155px;
  height: 38px;
}
.footer .footer_wrapper p {
  color: #EBEBEB;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
}

@media (max-width: 999px) {
  .first_screen_wrapper {
    min-height: unset;
  }
  .content_wrapper {
    width: 632px;
  }
  .content_wrapper .filters_wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .content_wrapper .filters_wrapper .search {
    grid-column: 1/3;
  }
  .content_wrapper .hero_cards {
    grid-template-columns: repeat(4, 160px);
  }
  .footer .footer_wrapper {
    width: 632px;
  }
}
@media (max-width: 671px) {
  .first_screen_wrapper {
    min-height: unset;
  }
  .content_wrapper {
    width: 335px;
  }
  .content_wrapper .filters_wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .content_wrapper .filters_wrapper .search {
    grid-column: 1/3;
  }
  .content_wrapper .hero_cards {
    grid-template-columns: repeat(2, 160px);
  }
  .footer .footer_wrapper {
    width: 335px;
  }
}