@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    color: rgb(97, 156, 156);
}

.main_wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(2,0,36);
    background: linear-gradient(153deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

    form {
        width: 335px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        padding: 10px;

        label {
            margin: 10px 0 5px 0;
        }

        input {
            background-color: unset;
            border: 1px solid teal;
            outline: none;
            padding: 7px 15px;
            border-radius: 7px;

            &::placeholder {
                color: teal
            }
        }

        button {
            outline: none;
            border: 1px solid teal;
            background-color: unset;
            padding: 10px 0;
            border-radius: 10px;
            margin-top: 30px;
        }
    }

    .error_window{
        border: 2px solid rgba(241, 26, 26, 0.766);
        border-radius: 15px;
        width: 315px;
        color:  white;
        text-align: center;
        padding: 20px 40px;
        margin-top: 15px;
    }
}