<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <script src="{{ url_for('static', filename='js/admin.js')}}"></script>
    <title>Document</title>
</head>
<body>
    <div class="main_wrapper">
        <div class="content_wrapper">
            <h1>Адмінка пам'яті героїв</h1>
            <div class="filter_wrapper">
                <div>
                    <label for="">Пошук по імені</label>
                    <input type="text" id="filterInput">
                </div>
                <button onclick="save()">Зберегти</button>
            </div>
            <div class="items_wrapper">
                <div class="item_wrapper" addDate="new">
                    <div class="image_select">
                        <img src="{{ url_for('static', filename='photos/placeholder.png') }}" alt="">
                        <div class="image_button_wrapper">
                            <p>142x142</p>
                            <label>завантажити<input class="image_input" type="file" accept="image/jpeg, image/png, image/jpg" onchange="saveImage(this)"></label>
                        </div>
                    </div>
                    <!-- name -->
                    <div class="input_wrapper"> 
                        <label for="">Ім'я героя</label>
                        <input class="heroName" type="text" placeholder="новий герой">
                    </div>
                    <!-- region -->
                    <div class="input_wrapper">
                        <label for="">Регіон</label>
                        <input class="heroRegion" type="text">
                    </div>
                    <!-- gender -->
                    <div class="input_wrapper">
                        <label for="">Стать</label>
                        <input class="heroGender" type="text">
                    </div>
                    <!-- position -->
                    <div class="input_wrapper">
                        <label for="">Посада</label>
                        <input class="heroPosition" type="text">
                    </div>
                    <!-- death date -->
                    <div class="input_wrapper">
                        <label for="">Дата загибелі</label>
                        <input class="heroDeathDate" type="date">
                    </div>
                    <!-- url -->
                    <div class="input_wrapper">
                        <label for="">Посилання</label>
                        <input class="heroLink" type="text">
                    </div>
                    <button class="delete_button" onclick="selfDelete(this)">Видалити</button>
                </div>
            </div>
        </div>
    </div>
</body>