<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <script src="{{ url_for('static', filename='js/admin.js')}}"></script>
    <title>Document</title>
</head>
<body>
    <div class="main_wrapper">
        <div class="content_wrapper">
            <h1>Адмінка пам'яті героїв</h1>
            <div class="filter_wrapper">
                <div>
                    <label for="">Пошук по імені</label>
                    <input type="text" id="filterInput">
                </div>
                <button onclick="save()">Зберегти</button>
            </div>
            <div class="items_wrapper">
            </div>
        </div>
    </div>
</body>