<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>Сторінка пам'яті героїв війни | Obozrevatel</title>
    <meta name="description" content="Сторінка присвячена пам'яті героїв війни, що хоробро боронять нашу країну | Obozrevatel">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Сторінка пам'яті героїв війни | Obozrevatel">
    <meta property="og:description" content="Сторінка присвячена пам'яті героїв війни, що хоробро боронять нашу країну | Obozrevatel">
    <meta property="og:site_name" content="WAR HEROES OBOZREVATEL">
    <meta property="og:image" content="{{ url_for('static', filename='images/social.jpg')}}">
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:image:width" content="2010px">
    <meta property="og:image:height" content="1050px">
    <meta property="og:url" content="{{ url_for('home') }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Сторінка пам'яті героїв війни | Obozrevatel">
    <meta name="twitter:description" content="Сторінка присвячена пам'яті героїв війни, що хоробро боронять нашу країну | Obozrevatel">
    <meta name="twitter:image" content="{{ url_for('static', filename='images/social.jpg')}}">
    <meta name="twitter:site" content="@obozrevatel_ua">
    <meta name="twitter:dnt" content="on">
    <link rel="canonical" href="{{ url_for('home') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.svg')}}">
    <script src="{{ url_for('static', filename='js/home.js')}}"></script>
</head>
<body>
    <div class="first_screen_wrapper" style="background-image: url('{{ url_for('static', filename='images/background.png') }}');">
        <div class="hero_image_wrapper">
            <img class= "hero_image"src="{{ url_for('static', filename='images/heroImage.png') }}" alt="">
            <a href="#content">
                <img class="scroll_button" src="{{ url_for('static', filename='images/scroll_button.png') }}" alt="">
            </a>
        </div>
        <img class="oboz_logo" src="{{ url_for('static', filename='images/Obozevatel_Logo.svg') }}" alt="">
    </div>
    <div class="content_wrapper" id="content">
       <div class="filters_wrapper">
            <div class="filter_wrapper search">
                <label for="">Пошук</label>
                <input filtrable="true" name="name" class="hero_name_filter" type="text" placeholder="Введіть ім'я" id="hero_name_filter">
                <div class="icon_image_wrapper" onclick="filter1()">
                    <img src="{{ url_for('static', filename='images/search.png') }}" alt="">
                </div>
            </div>
            <div class="filter_wrapper select">
                <label for="">Область</label>
                <select filtrable="true" name="region" id="region_select" onchange="filter1()">
                    <option value="all">Всі області</option>
                </select>
                <img class="select_down_arrow" src="{{ url_for('static', filename='images/down_arrow.svg') }}" alt="">
            </div>
            <div class="filter_wrapper select">
                <label for="">Стать</label>
                <select filtrable="true" name="gender" id="gender_select" onchange="filter1()">
                    <option value="all">Будь яка</option>
                </select>
                <img class="select_down_arrow" src="{{ url_for('static', filename='images/down_arrow.svg') }}" alt="">
            </div>
            <div class="filter_wrapper datepicker">
                <label for="">Дата від</label>
                <input filtrable="true" name="after_date" id="after_date" type="date" onchange="filter1()">
                <div class="icon_image_wrapper">
                    <img src="{{ url_for('static', filename='images/calendar.svg') }}" alt="">
                </div>
            </div>
            <div class="filter_wrapper datepicker">
                <label for="">Дата до</label>
                <input filtrable="true" name="before_date" id="before_date" type="date" onchange="filter1()">
                <div class="icon_image_wrapper">
                    <img src="{{ url_for('static', filename='images/calendar.svg') }}" alt="">
                </div>
            </div>
       </div> 
       <div class="hero_cards">
            {% for hero in data %}
                <div class="hero_card" name="{{hero['name']}}" dateadded="{{hero['date_added']}}" deathdate="{{hero['death_date']}}" gender="{{hero['gender']}}" region="{{ hero['region'] }}">
                    <a href="{{ hero['url']}}">
                        <div class="hero_image_wrapper">
                            <img class="hero_image" src="{{ hero['image'] }}" alt="">
                            <div class="details">
                                <p class="details_text">Детальніше</p>
                                <img class="details_arrow" src="{{ url_for('static', filename='images/down_arrow.svg') }}" alt="">
                            </div>
                        </div>
                        {% set name = hero['name'].split(' ') %}
                        <h2>{{name[0]}}<br>{{name[1]}}</h2>
                        <p>{{ hero['region'] }}</p>
                        <p>{{ hero['position'] }}</p>
                        <p>{{hero['death_date']}}</p>
                    </a>
                </div>
            {% endfor %}
       </div>
    </div>
    <div class="footer">
        <div class="footer_wrapper">
            <img src="{{ url_for('static', filename='images/Obozevatel_Logo.svg') }}" alt="">
            <p>2023</p>
        </div>
    </div>
</body>
</html>